@charset "utf-8";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html{
  width: 100%;
  min-height: 100dvh;
  background-color: rgb(84, 14, 150);
  display: flex;
  justify-content: center;
  align-items: center;
}